body{
    margin-left: 0%;
    background-color: #fff;
    margin-top: 0px;
    font-family: Oswald,'Open Sans',sans-serif;
}
.grey-bg{
  background-color: #ECEFEF;
}
.desktop-only{
    display: none;
}

.mobile-only{
    display: block;
}

#app-navbar-collapse1{
    color: #fff;
    font-size: 16px;
}
#app-navbar-collapse1 a{
    color: #fff;
}
#app-navbar-collapse1 > ul {
    background-color:#286090;
    text-align: center;
}
.navbar-header button, .navbar-header button a{
    color: #555;
}
.navbar-collapse ul li{
    margin: 5px 10px;
}

#workshop-mobile{
    display: none;
}

#lomba-mobile{
    display: none;
}

#btnFollowUser {
    background: transparent;
    color: #fff;
    font-size: 15px;
    width: 100px;
    text-align: center;
    border: 1px solid white;
    transition: all 0.3s ease 0s;
}

br .break-buqu-mobile{
    visibility: hidden;
}

#btnFollowUser:hover {
    background: #3071A9
}

.logo-mobile{
    margin-top:-5%;
    width: 30%;
}

.buqu-info-mobile {
    text-align: center;
    margin:0 auto;
    width: 30%;
}

br .break-mobile{
    display: none;
}

.container-2{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-2 input#search{
    width: 50px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: right;
    color: #262626;
    padding-left: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;

    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
}

.container-2 .icon{
    float: right;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
}

.container-2 input#search:focus, .container-2 input#search:active{
    outline:none;
    width: 300px;
}

.container-2:hover input#search{
    width: 300px;
}

.container-2:hover .icon{
    color: #93a2ad;
}

.buqu-info {
    width:100%;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

a:link,a:hover,a:visited{
    text-decoration: none;
}
.navbar-brand{
    margin: 7px 0 0 0;
    padding: 5px;
    position: absolute;
    left: 50%;
    margin-left: -30px !important;  /* 50% of your logo width */
    display: block;
}
.navbar-brand img{
    height: 40px;
}

.form-control-cari{
    display: none;
}

.navbar-form-cari{
    display: none;
}


.navbar1{
    display: none;
}

.navbar-default{
    background-color: #e0e0e0;
}

div.content.profile-page{
    margin: 0 auto;
    background-color: #dfdfdf;
}

div.content.profile-page .profile-main{
    background-color: #FFF;
}
div.content.profile-page .profile-side{
    background-color: #FFF;
    margin:0 1px;
}

footer{
  min-height: 200px;
  background-color: #fff;
}

#footertop{
    position: relative;
    margin: 15px 0;
    padding: 10px 0;
    bottom: 0;
    background-color: #fff;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}
#footerbottom{
    position: relative;
    margin: 10px;
    text-align: center;
    bottom: 0;
    height: 20px;
    background-color: #fff;
}

#footerbottom p{
    font-size: 11px;
    color: #666;
}

.footer #copy-name{
    color: #f66;
}

.foot-header{
    font-weight: bold;
    margin-bottom: 5px;
}

.foot-links{
    list-style: none;
    margin:0;
    padding:0;
}

.foot-links li {
    margin: 3px 0;
}

.foot-links li a:link,.foot-links li a:hover,.foot-links li a:visited{
    color: #666;
    font-size: 14px;
    text-decoration: none;
}

.foot-links .fa{
    font-size: 25px;
}

.navbar-fixed-top{
    z-index: 99;
}

.navbar-nav li .boxed-text-allcaps{
    border: 1px solid;
    border-radius: 5px;
    text-transform: uppercase;
    height: 30px;
    margin: 10px 20px;
    padding: 5px 10px;
    text-align: center;
    position: relative;
}

.nav li a.notif{
    padding: 13px 5px 10px 5px;
}

.nav-tabs .dropdown-hover, .nav-pills .dropdown-hover, .navbar .dropdown-hover {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

form#navBarSearchForm{
    margin:0 auto;
}

.dropdown-hover .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-hover li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-hover{
    display: block;
}

.row.topic-title{
  background-color: #fff;
}

.topic-title h3 a{
    font-size: 16px;
    color: #EB4320;
    font-weight: bold;
}

.buqu-slider, .kuliah-slider{
  background-color: #fff;
}

.buqu-slider .panel{
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
    box-shadow: 0 0px 0px rgba(0, 0, 0, .05);

    margin-bottom: 0;
}

.buqu-slider .panel-default{
    border-color: #fff;
    /* background-color: ; */
}

.user-info {
    min-height: 40px !important;
    color: #222222;
    font-size: 15px;
    position: relative;
}

.user-info .image {
    background:#dedede;
    float:left;
    width:40px;
    height:40px;
    border-radius: 50%;
}

.user-info img {
    width:40px;
    height:40px;
    border-radius: 50%;
}

.user-info .name {
    float:left;
    margin: 0 10px;
    color: #000;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 60px);
    overflow: hidden;
    transition: all 0.5s ease;
}

.article{
  background-color: #fff;
  box-shadow: 2px 2px 2px #ddd;
  margin: 0 0 10px 0;
  padding-bottom: 15px;
}

.recommended-user .article{
    margin: 3px 0px;
}

.recommended-user .article .user-info{
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 5px;
    min-height: 112px;
}

.recommended-user button{
    margin: 5px 0px;
}

.user-info > .name a {
    color: #979899;
    transition: all 0.5s ease;
}

.user-info > .name a:hover {
    color: #979899;
}

div.user-info div.name a{
    color: #000;
}

.user-info .title {
    float:left;
    margin: 0 10px;
    font-size: 12px;
    color: #777777;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 60px);
    overflow: hidden;
}

.user-info .info{
    float: left;
    margin: 0 10px;
    font-size: 12px;
    color: #777777;
}

.article-info.lomba{
    text-align: left;
}
.article-info.lomba .periode{
    color: #55acee;
    font-size: smaller;
}
.article-info {
    color: #222222;
    font-size: 15px;
    position: relative;
    text-align: center;
}
.article-info > .title a:hover, .article-info > .related-article a:hover {
    color: #979899;
}
.article-info > .title a, .article-info > .related-article a {
    color: #000;
    transition: all 0.5s ease;
}
.article-info > .related-article{
    font-color:#000;
    text-align: left;
}.article-info .info{
    margin: 0;
    font-size: 12px;
    color: #777777;
}
.article-info .title{
    font-size: 18px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-height: 20px; /* number of lines to show */
    /* fallback */
    color:#000;
}

.article-sidebar > .judul a:hover {
    color: #979899;
}

.article-image .sidebar > img{
    width:50%;
}
.article-sidebar > .judul a {
    color: #000;
    transition: all 0.5s ease;
}

.article-info.single{
    text-align: left;

}

.article-info .author, .article-info .author a, .buqu-single.title .name, .buqu-single.title .name a{
    color: #fff;
}

.article-single.title h1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.article-single img
{
    display: block;
    margin: 0 auto;
}
.article-single span
{
}
.article-single.content p, .article-single.content ul li, .article-single.content ol li{
    font-size: 16px;
    line-height: 25px;
    font-family: Helvetica, serif;
}
.require-login{
height:500px;overflow: hidden; text-overflow: ellipsis;
}

.fr-box.fr-basic.fr-top .fr-wrapper{
    font-size: 16px;
    font-family: Helvetica, serif;
}

.article-image{
    border-radius: 2%;
    overflow: hidden;
}

.article-image img, .article-info img{
    width: 100%;
}

.article-single.title .info{
    margin: 0;
    font-size: 16px;
    color: #777777;
    position: relative;
    top: 15px;
}


.article-action{
    text-align: center;
    color: #777777;
    padding-top: 10px;
}

.article-action .action-button{
    margin: 10px;
}

.buqu-info {
    color: #222222;
    font-size: 15px;
    position: relative;
    text-align: center;
    border-radius: 2%;
    overflow: hidden;

}

.buqu-info img{
    width: 100%;
}

.buqu-info .info{
    margin: 0;
    font-size: 12px;
    color: #777777;
}

.buqu-info .title{

    font-weight: bold;

    /*-webkit-line-clamp: 2;*/ /* number of lines to show */
    line-height: 16px;        /* fallback */
    /*max-height: 32px;*/       /* fallback */
    font-size: 20px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    color: #000;
    padding-bottom: 10%;
    min-height: 30px;
    position: absolute;
    width: 100%;

    /*background:rgba(0,0,0,0.3);*/
    text-shadow: .5px 0px .5px rgba(150, 150, 150, 1);
    opacity: 1;
}

.buqu-info .title .author{
    font-weight: normal;
    font-size: 15px;
    margin-top: -160%;
    position: relative;
}

.buqu-info > .title > .title-buqu{
    font-weight: normal;
    font-size: 20px;
    padding-top: 100%;
}

.title-buqu{

    width: 100%;
}

.buqu-info .title a{
    font-weight: 500;
    line-height: 26.4px;
    color: #FFF;
}

.buqu-action{
    text-align: center;
    color: #777777;
}

.buqu-action span{
    margin: 2px;
}

.buqu-action{
    font-size: 11px;
}

.buqu-action .name {
    color: #54C6B1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.main-slider img{
    width: 100%;
}

.slide{
    position: relative;
}

.slide-caption {
    font-size: 11px;
    color: #fff;
    text-align: center;
    bottom: 0;
    min-height: 80px;
    padding: 20px;
    position: absolute;
    width: 100%;
    z-index: 2;
    background:rgba(0,0,0,0.6);
    opacity: 1;
}

.slide-caption h5{
    font-size: 18px;
}

.main-slider-banner{
    margin-bottom: 15px;
}

.main-slider-banner img{
    width: 100%;
}

hr.rowspace{
    border: 0;
}

.page-title{
  background-color: #fff;
}

.page-title h2{
    font-size:23px;
    padding-left: 12px;
}

.publish-action{

}

.publish-action .delete-text{
    color: #a00;
    float: left;
}
.publish-action .delete-text:hover{
    color: red;
}
.publish-action .submit-button{
    text-align: right;
    float: right;
}

.post-form-sidebar .panel-heading{
    font-weight: bold;
    background: #fff;
}

.post-form-sidebar .category-box{
    max-height: 100px;
    overflow: auto;
}

nav.admin-nav li a{
    background-color: #eee;
    color: #333;
}
nav.admin-nav li a:hover{
    background-color: #3E95E0;
    color: #fff;
}

.adsense-homepage-top{
    margin-top:0px;
}
.homepage .adsense-homepage-top{
    margin-top:65px;
    margin-bottom: -15px;
}
.adsense-homepage-bottom{
    margin-top:20px;
}

/*petani fr.oala*/
.fr-box div[style*="position: absolute; bottom: 0px; left: 0px; z-index: 9999;"]{
    display: none;
}

.navbar-nav > li > a.navbar-avatar{
    padding-top: 10px;
    padding-bottom: 0px;
}

.navbar-avatar img{
    width:30px;
    height:30px;
    border-radius: 50%;
}

.message-list .well{
    background: #fff;
}
.message-list a{
    cursor: pointer;
}
ul.ui-autocomplete{
    background-color: #fff;
}
ul.ui-autocomplete li{
    list-style-type: none;
    cursor: pointer;
}

.profile-header {
    background-color: #286090 no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top:50px;
    padding-bottom:20px;
    vertical-align: bottom;
    color: #fff;
}
.profile-header a{
    color: #fff;
}
.profile-pic{
    text-align: center;
}
.profile-pic > img {
    width:120px;
    padding: 4px;
    background-color: #fff;
    border-radius: 50%;
}
.profile-about {
    float: none;
    display: table-cell;
    vertical-align: bottom;
    margin-bottom:20px;
}

.fa-facebook-square {
    color:#3b5998;
}
.fa-instagram {
    color:#fbad50;
}
.fa-twitter-square {
    color:#00aced;
}
.fa-youtube {
    color:#bb0000;
}

.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}.btn-social-icon :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon :first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{color:#fff;background-color:#30487b;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-google-plus{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}.btn-google-plus:hover,.btn-google-plus:focus,.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{color:#fff;background-color:#ca3523;border-color:rgba(0,0,0,0.2)}
.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{background-image:none}
.btn-google-plus.disabled,.btn-google-plus[disabled],fieldset[disabled] .btn-google-plus,.btn-google-plus.disabled:hover,.btn-google-plus[disabled]:hover,fieldset[disabled] .btn-google-plus:hover,.btn-google-plus.disabled:focus,.btn-google-plus[disabled]:focus,fieldset[disabled] .btn-google-plus:focus,.btn-google-plus.disabled:active,.btn-google-plus[disabled]:active,fieldset[disabled] .btn-google-plus:active,.btn-google-plus.disabled.active,.btn-google-plus[disabled].active,fieldset[disabled] .btn-google-plus.active{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}
.btn-linkedin{color:#fff;background-color:#007bb6;border-color:rgba(0,0,0,0.2)}.btn-linkedin:hover,.btn-linkedin:focus,.btn-linkedin:active,.btn-linkedin.active,.open .dropdown-toggle.btn-linkedin{color:#fff;background-color:#005f8d;border-color:rgba(0,0,0,0.2)}
.btn-linkedin:active,.btn-linkedin.active,.open .dropdown-toggle.btn-linkedin{background-image:none}
.btn-linkedin.disabled,.btn-linkedin[disabled],fieldset[disabled] .btn-linkedin,.btn-linkedin.disabled:hover,.btn-linkedin[disabled]:hover,fieldset[disabled] .btn-linkedin:hover,.btn-linkedin.disabled:focus,.btn-linkedin[disabled]:focus,fieldset[disabled] .btn-linkedin:focus,.btn-linkedin.disabled:active,.btn-linkedin[disabled]:active,fieldset[disabled] .btn-linkedin:active,.btn-linkedin.disabled.active,.btn-linkedin[disabled].active,fieldset[disabled] .btn-linkedin.active{background-color:#007bb6;border-color:rgba(0,0,0,0.2)}
.btn-twitter{color:#fff;background-color:#55acee;border-color:rgba(0,0,0,0.2)}.btn-twitter:hover,.btn-twitter:focus,.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter{color:#fff;background-color:#309aea;border-color:rgba(0,0,0,0.2)}
.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter{background-image:none}
.btn-twitter.disabled,.btn-twitter[disabled],fieldset[disabled] .btn-twitter,.btn-twitter.disabled:hover,.btn-twitter[disabled]:hover,fieldset[disabled] .btn-twitter:hover,.btn-twitter.disabled:focus,.btn-twitter[disabled]:focus,fieldset[disabled] .btn-twitter:focus,.btn-twitter.disabled:active,.btn-twitter[disabled]:active,fieldset[disabled] .btn-twitter:active,.btn-twitter.disabled.active,.btn-twitter[disabled].active,fieldset[disabled] .btn-twitter.active{background-color:#55acee;border-color:rgba(0,0,0,0.2)}

.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.banner-home-top-right{
    height: 280px;
    width: 336px;
}

.banner-home-bottom-right{
    height: 120px;
    width: 336px;
}

.article-featured-img{
    max-width: 100%;
    margin-bottom: 10px;
}

.sidebar{
    margin-top: 20px;
    border-top: #bbb solid 2px;
}

.btn-rounded{
    margin-left: 7px;
    padding: 0px 10px 1px 10px;
    height:18px;
    border-radius: 8px;
}
.btn-rounded.active, .btn-default.btn-rounded:hover{
    background-color: #bbb;
    color: #fff;
}

/* Hide AddToAny vertical share bar when screen is less than 980 pixels wide */
.a2a_floating_style.a2a_vertical_style { display: none; }

#autosavenotify{
    color: #bbb;
    margin-right: 20px;
}

.btnLike{
    cursor: pointer;
    color: #dedede;
}
.btnLike:hover{
    color: #EE5757;
}
.btnLike.active{
    color: #EE5757;
}

.btnLikeBuqu{
    color: #dedede;
}
.btnLikeBuqu:hover{
    color: #EE5757;
}
.btnLikeBuqu.active{
    color: #EE5757;
}

.marginleftright{
    margin-left: 5px;
    margin-right: 5px;
}

.message-badge {
    background-color: #fa3e3e;
    border-radius: 2px;
    color: white;
    padding: 1px 3px;
    font-size: 10px;
    position: relative; /* Position the badge within the relatively positioned button */
    top: 1;
    right: 7px;
}

.post-image-credit{
    color: #888;
    font-weight: lighter;
    font-size : 90%;
}

.mainslider-image{
    border-radius: 8px;
}

.form-required{
    font-size: 8px;
    font-weight: normal;
    color: #ce4844;
}

.profile-shortbio{
    padding: 15px 0;
}

.profile-shortbio .content{
    text-align: left;
    margin-left: 0px;
}

.profile a.nocontent{
    color: #bbb;
    font-weight: lighter;
    font-style: italic;
    text-decoration: none;
}

.profile-edit-button{
    background-color: #e5e5e5;
    padding: 4px;
}

.profile-fieldtitle{
    font-weight: bold;
}

.notification{
    padding: 8px;
    min-width: 300px;
}
.dropdown-menu.notification li a{
    color: #23527c;
}

.dropdown-menu.notification li{
    border-bottom: 1px solid #ddd;
    padding: 3px;
}

.dropdown-menu.notification li:last-child {
    border-bottom: none;
}

.unread-message{
    font-weight: bold;
}

.message-block{
    margin: 10px 0;
}

.message-bubble{
    background-color: #F9F9F9;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.message-bubble::before {
    background-color: #F9F9F9;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
    -moz-transform:    rotate( 29deg ) skew( -35deg );
    -ms-transform:     rotate( 29deg ) skew( -35deg );
    -o-transform:      rotate( 29deg ) skew( -35deg );
    -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.message-bubble.me {
    float: left;
    background-color: #C1FFD9;
}

.message-bubble.me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;
    background-color: #C1FFD9;
}

.message-bubble.you {
    /*float: right;*/
    float: left;
}

.message-bubble.you::before {
    /*box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;*/
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;
}

.fa.fa-star.fav{
    color: #ccc;
}

.fa.fa-star.fav:hover{
    color: #EFE856;
}

.fa.fa-star.fav.active{
    color: #ecbb09;
}

.fa.fa-star.otherfav.active{
    color: #d41e46;
}

.profile-rank{
    float: left;
    color: #54C6B1;
    font-size: 25px;
    margin: 2px 10px;
    text-align: right;
    min-width: 50px;
}

.delete-btn{
    color: #d44950;  z-index: 9;
}

.delete-btn:hover{
    color: #bb0000;
}

.top-right{
    position:absolute; top:0; right:0;
}

/*style yang dulunya max width untuk mobile*/
.buqu-info{
    width:100%;
}
.navbar-default .navbar-toggle{
    float: left;
    border-color: transparent;
}

.logo-mobile{
    margin-top:-5%;
    width: 60%;
}

.social-login > a{
    width:70%;
    text-align: center;
    margin:0 auto;
    margin-bottom: 15px;
}

br .break-buqu-mobile{
    visibility: visible;
}

.logo-login img{
    margin:-5% 0 30px 0;
    width: 70%;
}
.login-input{
    width: 66%;
    text-align: center;
}
.button-login{
    width: 66%;
    text-align: center;
}

br .break-mobile{
    display: block;
}

#workshop-mobile{
    display: block;
}

#table-mobile{
    display: none;
}
#table-lomba{
    display: none;
}

#lomba-mobile{
    display: block;
}

td.judul-post-lomba > div { width: 90%; height: 100%; overflow:hidden; }
td.judul-post-lomba { height: 10px; }
td.tanggal-publish > div { width: 100%; height: 100%; overflow:hidden; }
td.tanggal-publish { height: 10px; }

body .container.content{
    min-height: 300px;
}

div.container.content{
    margin-top:85px;
}

.foot-links li a:link,.foot-links li a:hover,.foot-links li a:visited{
    color: #666;
    font-size: 15px;
    text-decoration: none;
}

.row.vertical-divider [class*='col-']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display:none;
    position: absolute;
    top: 40px;
    bottom: 50px;
    right: 0;
    min-height: 70px;
}

.col-sm-15 {
    width: 20%;
    float: left;
}

.col-lg-15 {
    width: 20%;
    float: left;
}


.slide img{
    width: 750px;
    height: 406px;
}

.select-view{
    font-size:16px;
    color: #999;
    text-align: right;
}

.toggle-grid-view{
    font-size: 11px;
}

.article.list-group-item
{
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
    border: none;
}

.article.list-group-item .user-info{
    float: left;
    margin-left: 1%;
    width: 74%;
}
.article.list-group-item .article-image{
    float: left;
    width: 25%;
}
.article.list-group-item .article-info{
    text-align: left;
    float: left;
    margin-left: 1%;
    width: 74%;
}
.article.list-group-item .article-action{
    text-align: left;
    float: left;
    margin-left: 1%;
    width: 74%;
}

.article.list-group-item .buqu-info img
{
    width: 25%;
}

.article.list-group-item .buqu-info{
    text-align: left;
}

.article.list-group-item .buqu-action{
    text-align: left;
}

hr.displaynone{
    display: none;
}

.article.list-group-item{
    border-bottom: solid 1px #dedede;
}

.sidebar{
    margin-top: 0px;
    border-top: none;
}
.a2a_floating_style.a2a_vertical_style { display: block; }
/*end style yang dulunya max width untuk mobile*/

.fb-comments span, .fb-comments iframe{
    width:auto !important;
}

.verified-user{
    display: inline-block;
    background: url("/images/verified.png") no-repeat;
    background-size: contain;
    height: 1em;
    width: 20px;
}

.ajax-loading{
  text-align: center;
}

.nowrap{white-space: nowrap;}
.newsflash{margin-top:15px;}
.newsflash a{color: #337ab7;font-family: Helvetica,serif;}

@media only screen and (min-width: 768px), (-webkit-max-device-pixel-ratio: 1.25), (max-resolution: 120dpi) {
    /* For desktop: */
    body{
        background-color: #fff;
        margin: 0 auto;
        padding-top:90px;
    }
    .desktop-only{
        display: block;
    }
    .mobile-only{
        display: none;
    }
    .navbar-fixed-top{
        margin-bottom: 0px;
    }
    .navbar-lower{
        display: block;
        position: fixed;
        top: 50px;
        transition: top 0.2s ease-in-out;
        margin-bottom: 50px;
        background: #eee;
        width: 100%;
        min-height: 40px;
        z-index: 98;
    }
    .navbar-lower .navbar-nav > li > a{
        padding: 6px 15px;
    }

    .nav-up {
        top: -40px;
    }
    #navBarSearchForm input[type=text]{
        width:300px;
        margin: 8px 0;
    }
    .navbar-brand{
        margin: 0 auto;
        position: relative;
    }

    .button-login{
        width: 30%;
        text-align: center;
    }
    .logo-login img{
        margin-top:-5%;
        width: 30%;
    }
    .social-login > a{
        width:30%;
    }
    .login-input{
        width: 30%;
    }

    .article{
      background-color: #fff;
      box-shadow: none;
    }

    div.container.content{
        margin-top: 0px;
        padding-top: 10px;
    }

    .profile-header-content {
        display: table;
    }
    .dropdown-menu.columns-2 {
        min-width: 400px;
    }
    .dropdown-menu.columns-4 {
        min-width: 600px;
    }
    .dropdown-menu li a {
        padding: 5px 15px;
        font-weight: 300;
    }
    .multi-column-dropdown {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
    .multi-column-dropdown li a {
        display: block;
        clear: both;
        line-height: 1.428571429;
        color: #333;
        white-space: normal;
    }
    .multi-column-dropdown li a:hover {
        text-decoration: none;
        color: #262626;
        background-color: #999;
    }

    .row.vertical-divider [class*='col-']:not(:last-child):after {
        display:block;
    }

    .adsense-homepage-top{
        padding-top:10px;
    }
    .homepage .adsense-homepage-top{
        margin-top:0px;
    }

    .fb-comments span, .fb-comments iframe{
       width:550px !important;
    }
    .profile-short-bio{
      max-width: 75%;
    }
}
#sidebar-mobile
{
	position:fixed;
    overflow: hidden;
	height:100%;
	width:78vw;
	background-color:white;
	z-index:100;
	margin:0px;
	left:-78vw;
	opacity: 0;
	padding: 0px 10px 10px 10px;
	overflow:hidden;
	border-right:1px solid #dedede;
}
#sidebar-overlay
{
	display:none;
	left:0px;
	z-index:90;
	top:0px;
	position:absolute;
	height:100vh;
	width:100vw;
	background-color:rgba(0,0,0,0.8);
	opacity:0;
}
@keyframes sidebar-overlay-active {
    from
    {
    	opacity: 0;
    }
    to
    {
    	opacity: 1;
    }
}
@keyframes sidebar-overlay-deactive {
    from
    {
    	opacity: 1;
    }
    to
    {
    	opacity: 0;
    }
}
.overlay-active
{
	display:block !important;
	animation: sidebar-overlay-active 0.35s;
	animation-fill-mode: forwards;
}
.overlay-deactive
{
	animation: sidebar-overlay-deactive 0.35s;
	display:block !important;
}
#sidebar-mobile li
{
	list-style-type: disc !important;
	color: #333 !important;
}
#sidebar-mobile li a
{
	color:#333 !important;
}
.container-sidebar-mobile
{
	overflow-y: scroll;
	overflow-x: hidden;
	height:88vh;
}
@keyframes sidebar-toggle {
    from
    {
    	left:-78vw;
    	opacity: 0;
    }
    to
    {
    	left:0vw;
    	opacity: 1;
    }
}
@keyframes sidebar-toggle-back {
    from
    {
    	left:0vw;
    	opacity: 1;
    }
    to
    {
    	left:-78vw;
    	opacity: 0;
    }
}
.animate-sidebar
{
	animation: sidebar-toggle 0.65s;
	animation-fill-mode: forwards;
}
.animate-sidebar-back
{
	animation: sidebar-toggle-back 0.65s;
	animation-fill-mode: forwards;
}
.bacajuga-box{
    padding: 5px 10px !important;
    margin: 10px 0px !important;
    border-radius: 7px;
    font-size: 17px !important;
    font-family: Oswald,'Open Sans',sans-serif !important;
    color: #3f3f3f;
}
.bacajuga-box a
{
    font-size: 17px !important;
    font-family: Oswald,'Open Sans',sans-serif !important;
}
.artikel-slide-btn
{
    display: block;
    width: 100%;
}
.slide-artikel-terkait
{
    padding: 20px;
}
.artikel-terkait-box
{
    display: block;
    width: 100%;
    border-radius: 5px;
    border:1px solid #f0f0f0;
}
.related-hide
{
    transition: opacity 0.5s;
    opacity: 0;
}
.related-show
{
    transition: opacity 0.5s;
    opacity: 1;
}
.articel-info
{
    color:#9c9c9c;
}
.terpopuler-home-atas-title{
	width:100%;
	color:white;
	position:absolute;
	bottom:5px;
	transition: bottom 0.5s;
}
.terpopuler-home-atas-title-mobile{
	width:100%;
	color:white;
	position:absolute;
	bottom:5px;
	transition: bottom 0.5s;
}
.terpopuler-home-atas-info{
	opacity:0;
	position:absolute;
	bottom:5px;
	transition: opacity 0.5s;
	color:white;
}
.terpopuler-home-atas-info-mobile{
	position:absolute;
	bottom:5px;
	color:white;
}
.terpopuler-home-atas-info a{
	color:white !important;
}
.terpopuler-home-atas-info-mobile a{
	color:white !important;
}
.terpopuler-home-atas-col:hover .terpopuler-home-atas-title{
	bottom:50px;
}
.terpopuler-home-atas-col:hover .terpopuler-home-atas-info{
	opacity:1;
}
.header-profile-new{
  position: relative;
  width: 100%;
  height: 28em;
  background-position: top;
  border-bottom: .5em solid white;
}
.header-profile-new > .user-info{
  width: 15em;
  position: absolute;
  overflow: hidden;
  bottom: 0px;
  right: 1em;
  color: white;
}
.header-profile-new > .user-info > .user-info-top{
  width: 100%;
  height: 2em;
  background-color: rgba(0,0,0,0.75);
  padding: 2px 5px;
  font-size: 1.15em;
}
.header-profile-new > .user-info > .user-info-bio{
  width: 100%;
  padding: 5px 13px;
  margin-top: 2px;
  background-color: rgba(0,0,0,0.75);
  margin-bottom: 2px;
}
.header-profile-new > .user-info > .user-info-bottom{
  width: 100%;
  background-color: rgba(0,0,0,0.75);
  padding: 2px 5px;
}
.profile-new-atas{
  display: block;
  position: absolute;
  bottom: -3em;
  left: 5em;
}
.profile-new-atas > .user-avatar{
  border-radius: 100%;
  overflow: hidden;
  height: 10em;
  width: 10em;
  border:5px solid white;
  background-color: white;
}
.profile-new-atas > .user-avatar img{
  width: auto;
  height: 100%;
  margin: auto;
}

.profile-new-atas > .user-info{
  margin-left: 1em;
  color: white;
}
.profile-post-list{
  border:2px solid #dedede;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  height: 8em;
  overflow: hidden;
}
.profile-post-list h4{
  padding: 5px 15px;
  font-size: 1.35em;
  width: 100%;
}
.profile-post-list .profile-post-list-img{
  width: 13em;
}
.profile-post-list .profile-post-list-img img{
  width: 100%;
  height: auto;
}
.slide-btn{
    vertical-align: middle;
    display:inline-table;
}
.form-slide{
    width: 0px;
}
.form-slide-active{
    width: 100px;
}
.box-mobile-profile .user-avatar{
    height: 7em;
    width: 7em;
    border-radius: 100%;
    border:3px solid rgba(0,0,0,0.4);
    overflow: hidden;
}
.box-mobile-profile .user-avatar img{
    width: 100%;
    height: auto;
}
.box-mobile-profile .user-info{
    color:white;
}
